body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

nav{
    background-color: #2a2a2a;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #7c7b7c;
    text-decoration: none;
}

nav ul li a:hover {
    color: white;
}